html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: whitesmoke;
  font-size: 20px;
  overflow-x: hidden;
}

hr{
  visibility: hidden;
}

.navbar{
  width: 100%;
  background: linear-gradient(45deg, #fff 20%, rgba(255, 255, 255, 0.9) 20%);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0);
}

nav .navbar-brand{
  border: 2px solid;
  border-radius: 0 10px 0 10px;
  padding: 3px;
}
