{% extends 'softmain/base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Slider Start -->
<section class="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">Home of Awesome <br>  &#38; World Class Business Solutions</h1>
          <p class="animated fadeInUp">We love what we do and the work we do.We work closely with our clients to deliver </br>  the best possible solutions for their needs</p>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section class="about section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Our Mission</h2>
            <p>To create value for people around the world by doing more.</p>
          </div>
          <div class="section-title">
            <h2>Who Are We?</h2>
            <p>
              Softsearch is a software, mobile and web applications provider that offers custom development services.
We are a team of enthusiastic and highly motivated professional software, web and mobile application designers and developers.
We thrive on a technical challenge, but we also relish the buzz provided by a team-working environment.
We're also experienced business professionals who'll understand your business requirements.
            </p>
          </div>
          <div class="section-title">
            <h2>What We Do?</h2>
            <p>
              We build Bespoke systems for a range of businesses, from SME’s to large organizations.
              We are committed to providing scalable and secure software solutions, delivering excellent customer service and
              constantly exceeding customer expectations in agile software development.
            </p>
          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{% static './images/workplace.jpg' %}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section class="feature bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">WE BELIEVE IN GREAT IDEAS</h2>
        <p id="p-ideas">Softsearch core philosophy revolves around building the right solution that works for your business.
          It is important to us, that our clients get the best user experience ever possible.
          Our aim is for each of our clients to see Softsearch as an extension of their own organisation
          and to regard contracting projects to Softsearch as an investment in their company's future,
          not just as a cost of doing business.</p>

      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>

      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Enterprise Software</h4>
          <p>Building scalable high-load systems designed to support large volumes
            of user data requests and backend computations</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Mobile Applications</h4>
          <p>Developing apps with great design, attractiveness and highly functional to keep
            your audience coming back for more.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Web Development</h4>
          <p>Developing beautiful and cross-platform websites using agile development methodologies to deliver on your requirements.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Cloud Computing</h4>
          <p>Delivering secure and highly-available cloud solutions enabling businesses to increase efficiency and improve scalability.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="portfolio container-fluid" id="portfolio" style="padding-bottom:100px;background: #4ad3bd">
    <div class="section-title">
      <h2 style="text-align: center">Our Products</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/CRM.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/CRM.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/ERP.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/ERP.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/BULK.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/BULK.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div>
      <!-- <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/HRM.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/HRM.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/LMS.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/LMS.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/PMS.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/PMS.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/PROC.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/PROC.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div>
      <!-- <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text zom edit-product">
        <img src="{% static 'images/POS.jpg' %}" alt="" />
        <a class="fancybox" rel="ligthbox" href="{% static 'images/POS.jpg' %}">
          <div class="zoom"><i class="fas fa-search-plus fa-3x"></i></div>
        </a>
      </div> -->
  </div>
</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We Design Delightful Digital Experiences.</h2>
          <p>Judge for yourself the work and results <br> we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- what we believe in Start -->
<section class="service belief">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>What we believe in</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="service-item content">
            <i class="ion-person"></i>
          <h4>People</h4>
          <p>We would not be us without our employees, customers and partners. They are our main value and pride.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <i class="ion-code"></i>
          <h4>Quality</h4>
          <p>We are committed to excellence in everything we do, from the technology we choose to the result we deliver.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <i class="ion-pricetag"></i>
          <h4>Transparency</h4>
          <p>We conduct our activities with complete transparency. We are accountable and open in all our business practices.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <i class="icon ion-bonfire"></i>
          <h4>Long-term Thinking</h4>
          <p>We focus on establishing lasting relations with our customers, rather than on immediate profit.</p>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- contact -->
<div class="contact py-5">
    <div class="middle-heading pb-5 text-center" style="padding: 50px">
        <h1>Connect With Us </h1>
      </div>
    <!-- <div class="container py-3">
    <div class="middle-heading pb-5 text-center">
        <h3>Connect With Us </h3>
      </div>
    <div class="row">
        <div class="col-md-4 col- p-4 text-center footer_grid_left">
                  <div class="icon_grid_left">
                     <i class="fas fa-map-marker"></i>
                  </div>
                  <div class="address-gried">
                     <p>333 Broome St</p>
           <p>New York,Ny 10002,</p>
                  </div>
               </div>
               <div class="col-md-4 col- p-4 text-center footer_grid_left">
                  <div class="icon_grid_left">
                     <i class="fas fa-phone"></i>
                  </div>
                  <div class="address-gried">
                     <p>+(000) 123 4565 32 </p>
           <p>+(010) 123 4565 35</p>
                  </div>

               </div>
               <div class="col-md-4 col- p-4 text-center footer_grid_left">
                  <div class="icon_grid_left">
                     <i class="fas fa-envelope-open"></i>
                  </div>
                  <div class="address-gried">
                     <p><a href="mailto:info@example.com">info@example1.com</a></p>
                     <p><a href="mailto:info@example.com">info@example2.com</a></p>
                  </div>
               </div>
    </div>
      <form action="#" method="post">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label></label>
                <input type="text" class="form-control" id="inputtext" placeholder="Your Name" required="">
              </div>
              <div class="form-group col-md-6">
                <label></label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Your Email" required="">
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label></label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Address" required="">
              </div>
              <div class="form-group col-md-6">
                <label></label>
                <input type="text" class="form-control" id="inputPhonenumber" placeholder="Phonenumber" required="">
              </div>
             </div>

             <div class="form-group">
              <label></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>
            <div class="form-btn text-center">
            <button type="submit" class="btn btn-primary form-button">Submit</button>
            </div>
      </form>
    </div> -->
    <section class="map_area" id="contact">
        <div class="contact_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact_form_left">
                            <div class="row">
                                <form class="comment_form_inner" action="." method="post" id="contactForm">
                                    {% csrf_token %}
                                    {% include 'softmain/form_template.html' %}
                                    <div class="form-group col-md-12">
                                        <button class="btn btn-default submit_btn" type="submit">Send</button>
                                    </div>
                                </form>
                                {% if messages %}
                                {% for message in messages %}
                                <div>
                                    <p style="color: green;">{{message}}</p>
                                </div>
                                {% endfor %}
                                <!-- <div id="error">
                                    <p>Sorry! Message not sent. Something went wrong!!</p>
                                </div> -->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact_details">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Our Location</h4>
                                    <h5>Nairobi,Parklands,Diamond Plaza One,Second Floor</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Call Us On</h4>
                                    <h5>+254712048306</h5>
                                    <h5>+254717057939</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Send Your Message</h4>
                                    <h5>info@softsearch.co.ke</h5>
                                    <h5>sales@softsearch.co.ke</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Our Working Hours</h4>
                                    <h5>Mon-Fri 7.30AM to 6.30PM</h5>
                                </div>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fab mr-2 fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab mr-2 fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab mr-2 fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab mr-2 fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab mr-2 fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab mr-2 fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- //contact -->


<!-- map -->
<div class="map">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.856124647667!2d36.8187995855041!3d-1.25835014459277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f171b74f9ba57%3A0x11a8c077b37bd655!2sDiamond+Plaza%2C+Nairobi!5e0!3m2!1sen!2ske!4v1558368221938!5m2!1sen!2ske" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<!-- //map -->
<!-- footer -->
<footer class="py-5">
  <div class="container">
    <div class="footer-logo text-center">
      <a class="navbar-brand" href="#">Softsearch</a>
    </div>
    <div class="copyright text-center p-3">
      <p>© 2019 Softsearch. All Rights Reserved | Design by <a href="#"> Softsearch</a> </p>
    </div>
    <div class="agileinfo-grids">
      <div class="agile-grid-left agile-grid-right text-center">
        <div class="social mt-3">
          <ul>
            <li><a href="#"><i class="fab mr-2 fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab mr-2 fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab mr-2 fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab mr-2 fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab mr-2 fa-vk"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->

    <!--
    Essential Scripts
    =====================================-->

    <!-- <script src="js/jquery.counterup.js"></script> -->

    <!-- Main jQuery -->

    <script src="{% static './js/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.1 -->
    <script src="{% static './plugins/bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- Owl Carousel -->
    <script src="{% static './plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <!--  -->
    <script src="{% static './plugins/magnific-popup/dist/jquery.magnific-popup.min.js'%}"></script>
    <!-- Mixit Up JS -->
    <script src="{% static './plugins/mixitup/dist/mixitup.min.js'%}"></script>

    <!-- <script src="plugins/count-down/jquery.lwtCountdown-1.0.js"></script> -->
    <script src="{% static './plugins/SyoTimer/build/jquery.syotimer.min.js'%}"></script>


    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>



    <!-- Google Map -->
    <script src="{% static './plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="{% static './js/script.js' %}"></script>


<script type="text/javascript">
$(document).ready(function()
{
  // navigation click actions
  $('.scroll-link').on('click', function(event){
    event.preventDefault();
    //alert("You Are Good To Go");
    var sectionID = $(this).attr("data-id");
    scrollToID('#' + sectionID, 750);
  });
  // scroll to top action
  $('.scroll-top').on('click', function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop:0}, 'slow');
  });
  // mobile nav toggle
  $('#nav-toggle').on('click', function (event) {
    event.preventDefault();
    $('#main-nav').toggleClass("open");
  });
  $('#show-panels').click(function()
           {
            $('.panels').slideDown();
            $('#show-again').show();
            $('#show-panels').hide();
           });
  $('#show-again').click(function()
               {
              $('.panels').slideUp();
              //$('.panels').hide();
              $('#show-again').hide();
            $('#show-panels').show();
               })
});
// scroll function
function scrollToID(id, speed){
  var offSet = 50;
  var targetOffset = $(id).offset().top - offSet;
  var mainNav = $('#main-nav');
  $('html,body').animate({scrollTop:targetOffset}, speed);
  if (mainNav.hasClass("open")) {
    mainNav.css("height", "1px").removeClass("in").addClass("collapse");
    mainNav.removeClass("open");
  }
}
if (typeof console === "undefined") {
    console = {
        log: function() { }
    };
}
</script>

  {% endblock %}
