
{% extends 'softmain/base.html' %}
{% load static %}

{% block service %}

<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>

      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Enterprise Software</h4>
          <p>Building scalable high-load systems designed to support large volumes
            of user data requests and backend computations</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Mobile Applications</h4>
          <p>Developing apps with great design, attractiveness and highly functional to keep
            your audience coming back for more.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Web Development</h4>
          <p>Developing beautiful and cross-platform websites using agile development methodologies to deliver on your requirements.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-cloud"></i>
          <h4>Cloud Computing</h4>
          <p>Delivering secure and highly-available cloud solutions enabling businesses to increase efficiency and improve scalability.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2>We design delightful digital experiences.</h2>
					<p>Judge for yourself The work and results <br> we have achieved for other clients, and meet our highly experienced Team who just love to design.</p>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock service %}