<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" >
</head>
<body>
<!-- <nav class="navbar navbar-expand-lg navbar-dark secondary-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}"> Softsearch </a>
    </div>
    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}
      <ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{%url 'index'%}">Home</a>
            </li>
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="{% url 'index'%}">Profile</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>

      {% endif %}
    </div>
  </div>
</nav> -->
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
<a class="navbar-brand" href="#">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
  aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Dropdown
      </a>
      <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light">1
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li class="nav-item avatar dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
          alt="avatar image">
      </a>
      <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
        aria-labelledby="navbarDropdownMenuLink-55">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
</div>
</nav>
<!--/.Navbar -->
</body>
</html>
